* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* height: 90vh; */
}

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    gap: 1rem;
    /* padding: 0 0.5rem; */
    position: absolute;
    top: 0;
}

.Navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.Navbar li {
    /* margin-top: 0.3rem; */
}

.Navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    /* padding: 0.3rem; */
}

.NavBar-HomePage {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 0.3rem; */
    text-decoration: none;
}

.NavBar-HomePage:hover {
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 1cap #fff, 0 0 1px #fff, 0 0 3px #ec4d37, 0 0 5px #ec4d37,
        0 0 10px #ec4d37, 0 0 20px #ec4d37, 0 0 30px #ec4d37;
}

.Navbar li:hover {
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 1cap #fff, 0 0 1px #fff, 0 0 3px #ec4d37, 0 0 5px #ec4d37,
        0 0 10px #ec4d37, 0 0 20px #ec4d37, 0 0 30px #ec4d37;
}

.NavBar-Left-Container,
.NavBar-Right-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
}
